@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Staatliches&display=swap');

header {
    margin: 0;
    font-family: "Staatliches" , sans-serif;
    font-size: 25px;
}

.navbar-brand {
    font-size: 25px;
}

#hero-image  {
    height: 700px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h3 {
    color: #ffffff;
}

#cover-text {
    font-size: 120%;
    font-family: "Staatliches";
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 200px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, .7);

    bottom: 150px;
    left: 100px;

    position: absolute;
}



.heading,h2 {
    font-family: "Staatliches" , sans-serif;
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

.about-head {
    font-family: "Staatliches" , sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.about-info {
    font-family: "Poppins" , sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 25px 25px 40px 25px;
}

footer {
    background-color: black;
    font-family: "Staatliches" , sans-serif;
    font-size: 25px;
    color: #fff;
    min-height: 120px
}


.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 12px 50px;
    font-size: 35px;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: yellow;
}

#footer-details {
    padding-top: 40px;
}

#gallery {
    clear: both;
}

.gallery-pics {
    padding: 10px;
}