@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:wght@400;600&family=Permanent+Marker&display=swap');

body {
    color:  #8c754a;
    font-family: "Montserrat" , sans-serif;
    background-color: #ffffff;
    letter-spacing: 1px;
}
header {
    margin: 0;
    font-family: "Julius Sans One" , sans-serif;
    font-size: 15px;
}

/*---------------------------------------------------Navbar*/

.navbar {
    background-color: #ffffff;
    color: #403c27;
    line-height: 8px;
    
}

.navbar .navbar-brand {
    color: #403c27;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-nav a {
    font-size: 18px;
    font-weight: bold;
    color: #403c27;
    letter-spacing: 1px;
}

.active {
    border-bottom: 1px solid #8dc3f2;
}

/*---------------------------------------------------Hero Greeting*/

.hero-image  {
     background-image: url("../images/hippo-main.jpg");
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.greeting {
    position: absolute;
    width: 100%;
    top: 10%;
    z-index: 1;
    text-align: center;
    font-family: "Permanent Marker";
    font-size: 60px;
    letter-spacing: 12px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px #5a708c;
}

@media (min-width:768px){
    .greeting {
        font-size: 90px;
        top: 14%;
    }
}

#sub-greeting {
    font-size: 25px;
}

@media (min-width:768px){
    #sub-greeting {
        font-size: 35px;
    }
    }
/*---------------------------------------------------Headings*/

.title {
    font-family: "Julius Sans One" , sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
    text-shadow: 1px 1px 1px #403c27;
}

.heading{
    font-family: "Julius Sans One" , sans-serif;
    text-align: center; 
    color: #403c27;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

.page-title {
     padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

/*----------------------------------------------------Main Body*/

.info-contact {
    padding-top: 30px;
}

.main-body {
    max-width: 100%;
    padding-bottom: 40px;
    color: #8c754a;
}

.image-padding {
    padding-top: 60px;
    padding-bottom: 40px;
}

.text-box {
    max-width: 800px;
    text-align: center;
    position: relative;
    font-size: 15px;
    color: #8c764d; 
}

@media (min-width: 768px) {
    .text-box {
    font-size: 20px;
}
}
.block-divider {
    max-width: 70%;
    background-color: #8dc3f2;  
}

.block-divider-sml {
    max-width: 10%;
    background-color: #8dc3f2;  
}

#top-text {
    padding-top: 60px;
    padding-bottom: 15px;
}

#bottom-text  {
    padding-top: 15px
}

/*----------------------------------------------------Footer*/

footer {
    background-color: #ffffff;
}

.footer-contain {
    max-width: 100%;
    padding-bottom: 40px;
    color: #8c754a;
}

.social-contain {
    max-width: 800px;
    text-align: center;
    position: relative;
}

.social-links {
    text-align: center;
    letter-spacing: 10px;
}

.social-links li a i {
    font-size: 40px;
    color: #8dc3f2;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;   
}

@media (min-width:768px) {

    .social-links li a i {
        font-size: 60px;
    }
}

.social-links li a i:hover {
    color: #8c754a;
}

.social-link-info {
    font-family: "Julius Sans One" , sans-serif;
    font-size: 15px;
}

#createdby {
    text-align: center;
    font-size: 10px;
}

/*----------------------------------------------------Homepage*/

.page-title {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-family: "Julius Sans One" , sans-serif;    
    color: #403c27;
}

.heading{
    font-family: "Julius Sans One" , sans-serif;
    text-align: center; 
    color: #403c27;
}

.gallery-button {
    text-align: center;
    padding-top: 40px;
    font-family: "Julius Sans One" , sans-serif;
    font-weight: 600;
}

/*----------------------------------------------------Gallery Page*/

#gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 2px;
}

.gallery-img-padding {
    padding-bottom: 15px;
}

.container-fluid {
    width: 100%;  
}

/*----------------------------------------------------Buttons*/

.submit-button {
    font-family: "Julius Sans One" , sans-serif;
    justify-content: center;
}

.enquire-button {
    text-align: center;
    padding-top: 40px;
    font-family: "Julius Sans One" , sans-serif;
    font-weight: 600;
    padding-bottom: 40px;
    color: #ffffff;
    }

.button-sign {
    text-align: center;
    padding-top: 50px;
}

.modal {
    color: #403c27;
}

/*----------------------------------------------------Form*/
.form-contact {
    padding-bottom: 60px;
    font-size: 15px;
    }